# Configurações do Flask
SECRET_KEY=sua-chave-secreta-aqui
FLASK_APP=run.py
FLASK_DEBUG=1

# Banco de Dados
# Se for usar SQLite: sqlite:///db/doce_como_mel.db
# Se for usar PostgreSQL/MySQL: postgresql://user:password@localhost/dbname
DATABASE_URL=sqlite:///db/doce_como_mel.db
